*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
}

p{
    font-size: 1.6rem;
}

body{
    background:linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 7%, rgba(89,89,89,1) 31%, rgba(71,71,71,1) 45%, rgba(43,43,43,1) 66%, rgba(28,28,28,1) 84%, rgba(19,19,19,1) 100%);
}

main{
    background-color: blanchedalmond;
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

main h1{
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    
}
main p{
    text-align: justify;
    margin: 10px 50px;
    font-size: 2rem;
}

main h2{
    background-color: cadetblue;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 15px;
    border-radius: 10px;
    border: dashed 5px blueviolet;
}

footer{
    background-color: rgb(155, 112, 195);
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}
.footer__logo{
    font-size: 4rem;
    display: inline-block;
}

.footer__logo a{
    display: inline-block;
    text-decoration: none;
    color: blanchedalmond;
    background-color: rgb(14, 13, 13);
    border-radius: 50%;
}

footer ul{
    display: inline-block;
}

footer li{
    display: inline-block;
}

footer a{
    text-decoration: none;
    font-size: 2.5rem;
    color: blanchedalmond;
    padding: 20px;
}

.footer__insta:hover{
    background: palevioletred;
}

.footer__face:hover{
    background: #3B5998;
}

.footer__twit:hover{
    background: #55ACEE;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: greenyellow;
}

.header__logo{
    background-color: rgb(19, 18, 18);
    color: blanchedalmond;
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    border: solid 5px gold;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    box-shadow: 6px 9px 5px -5px rgba(0,0,0,0.75);
}



nav{
    display: inline-block;
}

nav li{
    display: inline-block;
}

nav a{
    text-decoration: none;
    padding: 15px;
    font-size: 2rem;

}
